.website {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-nav {
    background-color: rgb(64, 63, 63);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none; /* Remove bullet points */
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav li {
    display: inline-block;
    padding: 0 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%; /* Start from center */
    background-color: white;
    transition: width 0.3s ease;
    transform: translateX(-50%); /* Center the line */
}

.nav-link:hover::after {
    width: 100%; /* Expand to full width */
}

.logo-container {
    flex: 1;
    text-align: center;
}

.logo {
    text-decoration: none;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.main-footer {
    background-color: rgb(64, 63, 63); /* Match the main-nav background color */
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #ff7e5f;
}

.social-link i {
    margin-right: 5px;
}