{% extends "verkkokauppa/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="outer-container">
    <div class="register-container">
        <div class="register-box">
            <h2>Kirjaudu sisään</h2>
            
            {% if form.errors %}
                <div class="error-message">
                    Käyttäjätunnus tai salasana on virheellinen.
                </div>
            {% endif %}

            <form method="post" action="{% url 'users:login' %}" class="register-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="register-button">Kirjaudu</button>
                <input type="hidden" name="next" value="{% url 'verkkokauppa:home' %}">
            </form>

            <div class="login-link">
                Eikö sinulla ole tunnuksia? <a href="{% url 'users:register' %}">Rekisteröidy tästä</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}