{% extends "verkkokauppa/base.html" %}

{% block content %}

    <h2>Tietoa meistä</h2>
    <p>Verkkokauppa on perustettu vuonna 2021. Verkkokauppa tarjoaa laajan valikoiman tuotteita. Tuotteet ovat laadukkaita ja edullisia.</p> 
    <p>Verkkokaupasta löydät tuotteita joka lähtöön.</p> 
    <p>Verkkokauppa on suosittu ja luotettava verkkokauppa. Tervetuloa ostoksille!</p>


    <h4>Yhteystiedot</h4>
        <p>Y-tunnus: 1234567-8</p>
        <p>Puhelinnumero: 1234125414</p>
        <p>Sähköposti: klikkauskauppa@gmail.com</p>
        <p>Osoite: Klikkauskauppa, Esimerkkikatu 1, 00100 Helsinki</p>

    <h4>Palautusohjeet</h4>
        <p>Voit palauttaa tuotteen 14 päivän kuluessa. Ota yhteyttä asiakaspalveluun.</p>

{% endblock content %}